/* Estilos básicos para el contenedor principal */
.ion-content {
  --ion-background-color: #f8f9fa;
  padding: 16px;
}

/* Alinear y espaciar las tarjetas */
.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.ion-searchbar {
  margin-bottom: 20px;
  border-radius: 8px;
}
